p{
  margin: 1px;
}

td {
  vertical-align: top;
}

li {
  list-style:circle;
}

.col {
  float: left;
}


.clear {
  clear: both;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.data {
  margin-top: 25px;
  border: solid 1px #bbb;
  background: #fbfbfb;
  width: 700px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}


.grading {
  margin-top: 25px;
  border: solid 1px #bbb;
  background: #fbfbfb;
  width: 700px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}

.grading .start, .end, .grade {
  width: 40px;
}
.grading .txt {
  width: 75%;
}
.graderange {
  overflow: hidden;
  margin-top: 25px;
  border: solid 1px #ddd;
  width: 690px;
  background: #f8f8f8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#gr_foot input{
  width: 70%;
}

#add_quest {
  margin-top: 25px;
  width: 700px;
}

.pic_opts {
  border: 1px solid #ccc;
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.quest {
  margin-top: 25px;
  border: solid 1px #bbb;
  background: #fbfbfb;
  width: 700px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}

.hide {
  float:right;
  font-size: smaller;
  color: #400;
}

.hidden div {
  float: left;
}
.hidden .value {
  width: 70%;
  overflow: hidden;
}

.show {
  float:right;
  font-size: smaller;
  color: #040;
}

input{
  width: 98%;
}

.opt {
  overflow: hidden;
  margin-top: 25px;
  border: solid 1px #ddd;
  width: 690px;
  background: #f8f8f8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.opt_score {
  width: 100px;
  float: right;
}

.exp {
  text-align: right;
}
.exp p {
  margin-right: 5px;
}

.loadsave {
  margin-top: 75px;
  width: 700px;
  text-align: center;
}
.loadsave input{
  width: 45%;
}

/*Loading styling*/
.loading {
    background: #AAAAAA;
    color: black;
    font-weight: bold;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.loading-img, .loading-element {
    background: transparent;
    padding: 0px;
}
.loading.top {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}
.loading.left {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
}
.loading.bottom {
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}
.loading.right {
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}
.loading-masked { overflow: hidden; }
.loading-error {
    color: #FFF;
    background: red;
}

