/*
  * * { outline: 2px dotted green }
  * * * { outline: 2px dotted orange }
  * * * * { outline: 2px dotted blue }
  * * * * * { outline: 1px solid red }
  * * * * * * { outline: 1px solid green }
  * * * * * * * { outline: 1px solid orange }
  * * * * * * * * { outline: 1px solid blue }
*/
body {
  text-align: center;
}

a {
  color: #0040E2;
  text-decoration: none;
}

a:hover{
  color: #0040E2;
  text-decoration: underline;
}

a:visited {
  color: #0040E2;
}

a:active {
  color: #0036C0;
}

#content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 265px;
  width: 850px;
  
  background: #FFF url('logo.png') no-repeat top left;
  text-align: left;
  font-family: sans-serif;
} 

p{
  margin: 1px;
}

div {
  width: 600px;
}

.float_right {
  float: right;
}

.sub_section {
  clear:both;
  width: 100%;
}

.hider {
  margin-top: 6px;
  margin-right: 7px;
  float:right;
  font-size: smaller;
  width: auto;
}

.hide {
  color: #400;
}

.show {
  float:right;
  font-size: smaller;
  color: #040;
}

.main {
  width: 850px;
  margin-top: 25px;
  padding: 3px;
  border: solid 1px #bbb;
  background: #fbfbfb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sect {
  width: 100%;
}

.sect_head {
  width: 850px;
  padding: 3px;
  font-size: 14pt;
}

.pic {
  width: 245px;
  font-size: 9pt;
  margin-bottom: 10px;
}

.pic input {
  width: 80%;
  height: 9pt;
}

.group_title {
  font-size: 12pt;
  text-align: center;
  text-decoration: underline;
}

td {
  vertical-align: top;
}

li {
  list-style:circle;
}

.col {
  float: left;
}


.clear {
  clear: both;
}

.title {
  text-align: center;
  text-decoration: underline;
}


.grading {
  margin-top: 25px;
  border: solid 1px #bbb;
  background: #fbfbfb;
  width: 700px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}

.grading .start, .end, .grade {
  width: 40px;
}
.grading .txt {
  width: 75%;
}
.graderange {
  overflow: hidden;
  margin-top: 25px;
  border: solid 1px #ddd;
  width: 690px;
  background: #f8f8f8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#gr_foot input{
  width: 70%;
}

#add_quest {
  margin-top: 25px;
  width: 700px;
}

.pic_opts {
  border: 1px solid #ccc;
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.quest {
  margin-top: 25px;
  border: solid 1px #bbb;
  background: #fbfbfb;
  width: 700px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}



input{
  width: 98%;
}

.opt {
  overflow: hidden;
  margin-top: 25px;
  border: solid 1px #ddd;
  width: 690px;
  background: #f8f8f8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.opt_score {
  width: 100px;
  float: right;
}

.exp {
  text-align: right;
}
.exp p {
  margin-right: 5px;
}

.loadsave {
  margin-top: 75px;
  width: 700px;
  text-align: center;
}
.loadsave input{
  width: 45%;
}

/*Loading styling*/
.loading {
    background: #AAAAAA;
    color: black;
    font-weight: bold;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.loading-img, .loading-element {
    background: transparent;
    padding: 0px;
}
.loading.top {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}
.loading.left {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
}
.loading.bottom {
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}
.loading.right {
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}
.loading-masked { overflow: hidden; }
.loading-error {
    color: #FFF;
    background: red;
}

